<form name="pinmapForm">
  <div class="modal-header">
    <h3 class="modal-title">Pin this map to your storage</h3>
  </div>
  <div class="modal-body">
    <p>Center: {{ map.coords }}</p>
    <p>Zoom: {{ map.zoom }}</p>
    <div class="form-group">
      <label>Title:</label>
      <input type="text" ng-model="title"
        focus-me="true"
        class="form-control" required>
    </div>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-primary" ng-click="ok()" value="Save" />
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form>
