<form name="layerForm">
  <div class="modal-header">
    <h3 class="modal-title">Edit layer</h3>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" ng-model="layer.name" />
    </div>
    <div class="form-group">
      <label for="geometry">Geometry</label>
      <input type="text" ng-model="layer.geometry" />
    </div>
    <div class="form-group">
      <label for="id">Id</label>
      <input type="text" ng-model="layer.id" />
    </div>
    <div class="form-group">
      <label for="class">Class</label>
      <input type="text" ng-model="layer.class" />
    </div>
    <div class="form-group">
      <label for="extent">Extent</label>
      <input type="number" ng-model="layer.extent[0]" />
      <input type="number" ng-model="layer.extent[1]" />
      <input type="number" ng-model="layer.extent[2]" />
      <input type="number" ng-model="layer.extent[3]" />
    </div>
    <div class="form-group">
      <label for="srs">SRS</label>
      <input type="text" ng-model="layer.srs" />
    </div>
    <div class="form-group">
      <label for="srs-name">SRS-Name</label>
      <input type="text" ng-model="layer['srs-name']" />
    </div>
    <h4>Datasource</h4>
    <div class="form-group">
      <label for="type">Type</label>
      <input type="text" ng-model="layer.Datasource.type" />
    </div>
    <div class="form-group">
      <label for="srs">SRS</label>
      <input type="text" ng-model="layer.srs" />
    </div>
    <div class="form-group">
      <label for="extent">Extent</label>
      <input type="text" ng-model="layer.Datasource.extent" />
    </div>
    <h4>Advanced</h4>
    <span ng-repeat-start="(key, value) in layer.advanced"></span>
    <div class="form-group">
      <label for="{{ key }}">{{ key }}</label>
      <input type="text" ng-model="layer.advanced[key]" />
    </div>
    <span ng-repeat-end></span>
  </div>
  <div class="modal-footer">
    <input type="submit" class="btn btn-primary" ng-click="ok()" value="Save" />
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</form>
