<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Magnacarto App - Design maps</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="http://openlayers.org/en/v3.4.0/css/ol.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/angular-gridster.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body ng-app="magna-app">

    <!-- TODO move into template and include here -->
    <!-- Sidenav -->
    <div ng-controller="SideNavCtrl">
      <div id="wrapper" class="active" ng-class="{active: active}" >
        <div id="sidebar-wrapper">
          <!-- Nav items -->
          <ul class="sidebar-nav" id="sidebar">
            <li class="sidebar-brand">
              <a ng-click="active=!active">Menu
                <span class="menu-icon glyphicon glyphicon-align-justify"></span>
              </a>
            </li>
            <li>
              <a is-active-nav href="#/dashboard">Dashboard
                <span class="menu-icon glyphicon glyphicon-globe"></span>
              </a>
              <div collapse="(selectedNavItem !== 'dashboard' || !active)">
                <button class="btn btn-default btn-sm" ng-click="addMap()">Add Map</button>
                <button class="btn btn-default btn-sm" ng-click="clearMaps()">Reset</button>
              </div>
            </li>
            <li>
              <a is-active-nav href="#/storage">Storage
                <span class="menu-icon glyphicon glyphicon-floppy-disk"></span>
              </a>
            </li>
          </ul>
          <!--/Nav items -->

          <ul ng-controller="StyleListCtrl" class="sidebar-nav mss-nav">
            <li ng-click="collapsed=!collapsed">
              <a is-active-nav>Styles
                <span class="menu-icon glyphicon glyphicon-picture"></span>
              </a>
            </li>
            <div class="checkbox" ng-repeat="style in styles" collapse="(collapsed || !active)">
              <label>
                <input type="checkbox" value={{style}}
                  ng-checked="activeStyles.indexOf(style) > -1"
                  ng-click="toggleSelection(style)">
                {{ style }}
              </label>
            </div>
          </ul>
        </div>
        <div ng-view></div>
      </div>
    </div>
    <!--/Sidenav -->

    <div class="alert-box" ng-controller="WebSocketCtrl">
      <div class="row">
        <div class="col-md-12">
          <notification ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"></notification>
        </div>
      </div>
    </div>

    <script src="http://openlayers.org/en/v3.4.0/build/ol.js" type="text/javascript"></script>
    <script src="libs/angular.js"></script>
    <script src="libs/angular-cookies.js"></script>
    <script src="libs/angular-gridster.js"></script>
    <script src="libs/angular-messages.js"></script>
    <script src="libs/angular-route.js"></script>
    <script src="libs/ng-websocket.js"></script>
    <script src="libs/ui-bootstrap-tpls-0.12.1.min.js"></script>

    <script src="app/app.js"></script>

    <script src="app/shared/focusme-directive.js"></script>
    <script src="app/shared/mml-service.js"></script>
    <script src="app/shared/notification-controller.js"></script>
    <script src="app/shared/ol3-directive.js"></script>
    <script src="app/shared/style-service.js"></script>
    <script src="app/shared/stopevent-directive.js"></script>
    <script src="app/shared/websocket-controller.js"></script>

    <script src="app/sidebar/side-nav-controller.js"></script>
    <script src="app/sidebar/style-list-controller.js"></script>

    <script src="app/dashboard/dashboard-service.js"></script>
    <script src="app/dashboard/controller.js"></script>
    <script src="app/dashboard/pinmap-controller.js"></script>

    <script src="app/storage/controller.js"></script>
  </body>
</html>