<table class="table">
    <tbody>
        <tr ng-repeat="message in messages" ng-class="messageClass($index, message)">
            <td>
                <i class="glyphicon" ng-class="iconClass($index, message)"></i>
                {{ message.time | date:'HH:mm:ss.sss' }}
            </td>
            <td>
                <ul class="list-unstyled">
                    <li ng-repeat="msg in message.msg track by $index">
                        {{ msg }}
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>
