<ul ng-controller="LayerListCtrl" class="sidebar-nav layer-nav">
  <li ng-click="toggleCollapsed();">
    <a is-active-nav ng-class="{disabled: selectedNavItem === 'projects'}">Layers
      <span class="menu-icon glyphicon glyphicon-globe"></span>
    </a>
  </li>
  <div collapse="(collapsed || !active || selectedNavItem === 'projects')">
    <div class="layer-list disable-select">
      <div ng-model="layers" as-sortable>
        <div ng-repeat="layer in layers" as-sortable-item>
          <i class="glyphicon cursor-pointer" ng-class="{'glyphicon-eye-close': layer.status === 'off', 'glyphicon-eye-open': layer.status !== 'off'}" ng-click="toggle(layer)"></i>
          <i class="glyphicon glyphicon-edit cursor-pointer" ng-click="openEditLayerModal(layer)"></i>
          <label title="{{ layer.name }}" as-sortable-item-handle>{{ layer.name }}</label>
        </div>
      </div>
    </div>
  </div>
</ul>