<ul class="sidebar-nav" id="sidebar">
  <li class="sidebar-brand">
    <a ng-click="active=!active">Magnacarto
      <span class="menu-icon glyphicon glyphicon-align-justify"></span>
    </a>
  </li>
  <li>
    <a href="#/projects">Projects
      <span class="menu-icon glyphicon glyphicon-list-alt"></span>
    </a>
  </li>
  <li>
    <a is-active-nav href="#/dashboard" ng-class="{disabled: selectedNavItem === 'projects'}">Dashboard
      <span class="menu-icon glyphicon glyphicon-th"></span>
    </a>
    <div collapse="(selectedNavItem !== 'dashboard' || !active)">
      <button class="btn btn-default btn-sm btn-mca" ng-click="addMap()">Add Map</button>
      <button class="btn btn-default btn-sm btn-mca" ng-click="createLayer()">Create Layer</button>
    </div>
  </li>
  <li>
    <a is-active-nav href="#/bookmarks" ng-class="{disabled: selectedNavItem === 'projects'}">Bookmarks
      <span class="menu-icon glyphicon glyphicon-bookmark"></span>
    </a>
  </li>
</ul>
<div class="sidebar-nav delimiter"></div>
<div ng-include="'src/sidebar/layer-list-template.html'"></div>
<div ng-include="'src/sidebar/style-list-template.html'"></div>
