<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Magnacarto App - Design maps</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="css/ol.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/angular-gridster.css" />
    <link rel="stylesheet" href="css/ng-sortable.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body ng-app="magna-app">

    <!-- TODO move into template and include here -->
    <!-- Sidenav -->
    <div ng-controller="SideNavCtrl">
      <div id="wrapper" class="active" ng-class="{active: active}" >
        <div id="sidebar-wrapper">
          <!-- Nav items -->
          <ul class="sidebar-nav" id="sidebar">
            <li class="sidebar-brand">
              <a ng-click="active=!active">Menu
                <span class="menu-icon glyphicon glyphicon-align-justify"></span>
              </a>
            </li>
            <li>
              <a href="#/projects">Projects
                <span class="menu-icon glyphicon glyphicon-list-alt"></span>
              </a>
            </li>
            <li>
              <a is-active-nav href="#/dashboard" ng-class="{disabled: selectedNavItem === 'projects'}">Dashboard
                <span class="menu-icon glyphicon glyphicon-th"></span>
              </a>
              <div collapse="(selectedNavItem !== 'dashboard' || !active)">
                <button class="btn btn-default btn-sm" ng-click="addMap()">Add Map</button>
                <button class="btn btn-default btn-sm" ng-click="clearMaps()">Reset</button>
              </div>
            </li>
            <li>
              <a is-active-nav href="#/storage" ng-class="{disabled: selectedNavItem === 'projects'}">Storage
                <span class="menu-icon glyphicon glyphicon-floppy-disk"></span>
              </a>
            </li>
          </ul>
          <!--/Nav items -->
          <!-- TODO move into own template -->
          <ul ng-controller="StyleListCtrl" class="sidebar-nav mss-nav">
            <li ng-click="collapsed=!collapsed">
              <a is-active-nav ng-class="{disabled: selectedNavItem === 'projects'}">Styles
                <span class="menu-icon glyphicon glyphicon-picture"></span>
              </a>
            </li>
            <div collapse="(!collapsed || !active || selectedNavItem === 'projects')">
              <div class="style-list">
                <div class="active-styles" ng-model="activeStyles" as-sortable>
                  <div class="checkbox as-sortable-item" ng-repeat="style in activeStyles" as-sortable-item>
                    <i class="glyphicon glyphicon-move as-sortable-item-handle" as-sortable-item-handle></i>
                    <label title="{{style}}">
                      <input type="checkbox" value={{style}}
                        checked=checked
                        ng-click="toggleSelection(style)">
                      {{ style }}
                    </label>
                  </div>
                </div>
                <div class="available-styles">
                  <div class="checkbox" ng-repeat="style in styles | orderBy:'toString()'" ng-if="activeStyles.indexOf(style) === -1">
                    <label title="{{style}}">
                      <input type="checkbox" value={{style}}
                        ng-click="toggleSelection(style)">
                      {{ style }}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </ul>
          <!-- End TODO -->
          <!-- TODO move into own template -->
          <ul ng-controller="LayerListCtrl" class="sidebar-nav layer-nav">
            <li ng-click="collapsed=!collapsed">
              <a is-active-nav ng-class="{disabled: selectedNavItem === 'projects'}">Layers
                <span class="menu-icon glyphicon glyphicon-globe"></span>
              </a>
            </li>
            <div collapse="(!collapsed || !active || selectedNavItem === 'projects')">
              <div class="layer-list">
                <div ng-model="layers" as-sortable>
                  <div class="checkbox" ng-repeat="layer in layers" as-sortable-item>
                    <i class="glyphicon glyphicon-move as-sortable-item-handle" as-sortable-item-handle></i>
                    <label title="{{ layer.name }}">
                      <input type="checkbox" value="" ng-checked="layer.status !== 'off'" ng-model="layer.status" ng-true-value="''" ng-false-value="'off'">
                      <span ng-bind="layer.name"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </ul>
          <!-- End TODO -->
        </div>
        <div ng-view></div>
      </div>
    </div>
    <!--/Sidenav -->

    <div class="alert-box" ng-controller="WebSocketCtrl">
      <div class="row">
        <div class="col-md-12">
          <notification ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)"></notification>
        </div>
      </div>
    </div>

    <script src="libs/ol.js" type="text/javascript"></script>
    <script src="libs/angular.js"></script>
    <script src="libs/angular-cookies.js"></script>
    <script src="libs/angular-gridster.js"></script>
    <script src="libs/angular-messages.js"></script>
    <script src="libs/angular-route.js"></script>
    <script src="libs/ng-websocket.js"></script>
    <script src="libs/ui-bootstrap-tpls-0.12.1.min.js"></script>
    <script src="libs/ng-sortable.js"></script>

    <script src="src/app.js"></script>

    <script src="src/shared/focusme-directive.js"></script>
    <script src="src/shared/projects-service.js"></script>
    <script src="src/shared/mml-service.js"></script>
    <script src="src/shared/notification-controller.js"></script>
    <script src="src/shared/ol3-directive.js"></script>
    <script src="src/shared/style-service.js"></script>
    <script src="src/shared/layer-service.js"></script>
    <script src="src/shared/stopevent-directive.js"></script>
    <script src="src/shared/websocket-controller.js"></script>

    <script src="src/projects/controller.js"></script>

    <script src="src/sidebar/side-nav-controller.js"></script>
    <script src="src/sidebar/style-list-controller.js"></script>
    <script src="src/sidebar/layer-list-controller.js"></script>

    <script src="src/dashboard/dashboard-service.js"></script>
    <script src="src/dashboard/controller.js"></script>
    <script src="src/dashboard/pinmap-controller.js"></script>

    <script src="src/storage/controller.js"></script>
  </body>
</html>