<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Magnacarto App - Design maps</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/ol.css" type="text/css">
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/angular-gridster.min.css" />
    <link rel="stylesheet" href="css/ng-sortable.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body ng-app="magna-app">
    <div id="wrapper">
      <div id="sidebar-wrapper" class="active" ng-class="{active: active}" ng-controller="SideNavCtrl" ng-include="'src/sidebar/side-nav-template.html'"></div>
      <div id="logging-wrapper" class="active">Testtext</div>
      <div id="content-wrapper"><div ng-view></div></div>
    </div>
    <div id="sidebar-resizer" resizer resizer-width="6" resizer-left-ids="sidebar-wrapper" resizer-right-ids="content-wrapper,logging-wrapper" resizer-max="400" resizer-min="200"></div>
    <div class="alert-box" ng-controller="NotificationCtrl">
      <notification item="notification" ng-model="notifications" ng-repeat="notification in notifications"></notification>
    </div>
    <script src="src/require.js"></script>
  </body>
</html>