<div class="input-group">
  <ng-transclude></ng-transclude>
  <div class="input-group-btn" dropdown keyboard-nav>
    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" role="menu">
      <li ng-repeat-start="suggestion in suggestions" ng-if="suggestion !== '_separator_'" role="menuitem" ng-click="select(suggestion)" class="cursor-pointer">
        <a href="">{{ suggestion }}</a>
      </li>
      <li ng-repeat-end ng-if="!$last && suggestion === '_separator_'" role="separator" class="divider"></li>
    </ul>
  </div>
</div>
