<div class="row">
  <div class="col-sm-12">
    <h2>Project Overview</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>MML-File</th>
          <th>Last change</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="project in projects | orderBy:'-last_change'" ng-click="openProject(project)" class="cursor-pointer">
          <th class="row">
            {{ project.name }}
          </th>
          <td>
            {{project.url }}
          </td>
          <td>
            {{ project.last_change | date:'yyyy-MM-dd HH:mm:ss' }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
