<div form-group>
  <div ui-ace="{{ aceOptions }}" name="table" ng-model="layer.Datasource.table" style="height: {{ tableInputHeight }}px;"></div>
</div>
<div form-group>
  <input name="extent" type="text" ng-model="layer.Datasource.extent" />
</div>
<div form-group>
  <input name="geometry_field" title="Geometry Field" type="text" ng-model="layer.Datasource.geometry_field" />
</div>
<div form-group>
  <input name="srid" title="SRID" type="text" ng-model="layer.Datasource.srid" />
</div>
<div form-group>
  <input name="host" type="text" ng-model="layer.Datasource.host" />
</div>
<div form-group>
  <input name="port" type="text" ng-model="layer.Datasource.port" />
</div>
<div form-group>
  <input name="dbname" title="Database Name" type="text" ng-model="layer.Datasource.dbname" />
</div>
<div form-group>
  <input name="user" type="text" ng-model="layer.Datasource.user" />
</div>
<div form-group>
  <input name="password" type="text" ng-model="layer.Datasource.password" />
</div>
