<div class="modal-header">
  <h3 class="modal-title">Edit layer</h3>
</div>
<div class="modal-body layer-form">
  <form name="layerForm" class="">
    <div class="panel panel-default">
      <div class="panel-heading" ng-click="hideGeneral = !hideGeneral">
        <span>General</span>
        <i class="glyphicon" ng-class="{'glyphicon-chevron-right': hideGeneral, 'glyphicon-chevron-down': !hideGeneral}"></i>
      </div>
      <div class="panel-body form-horizontal" collapse="hideGeneral">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="name">Name</label>
          <div class="col-sm-10">
            <input id="name" name="name" class="form-control" type="text" ng-model="layer.name" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="id">Id</label>
          <div class="col-sm-10">
            <input id="id" name="id" class="form-control" type="text" ng-model="layer.id" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="class">Class</label>
          <div class="col-sm-10">
            <input id="class" name="class" class="form-control" type="text" ng-model="layer.class" />
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-2 control-label" for="geometry">Geometry</label>
          <div class="col-sm-10">
            <select id="geometry" name="geometry" class="form-control" type="text" ng-model="layer.geometry">
              <option value="point">Point</option>
              <option value="linestring">Linestring</option>
              <option value="polygon">Polygon</option>
              <option value="raster">Raster</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading cursor-pointer" ng-click="hideExtentSRS = !hideExtentSRS">
        <span>Extent / SRS</span>
        <i class="glyphicon" ng-class="{'glyphicon-chevron-right': hideExtentSRS, 'glyphicon-chevron-down': !hideExtentSRS}"></i>
      </div>
      <div class="panel-body form-horizontal" collapse="hideExtentSRS">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="extent">Extent</label>
          <div class="col-sm-10">
            <input id="extent" name="extent" class="form-control" float ng-model="layer.extent[0]" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <input class="form-control" float ng-model="layer.extent[1]" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <input class="form-control" float ng-model="layer.extent[2]" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            <input class="form-control" float ng-model="layer.extent[3]" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="srs">SRS</label>
          <div class="col-sm-10">
            <input id="srs" name="srs" class="form-control" type="text" ng-model="layer.srs" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-sm-2 control-label" for="srs-name">SRS-Name</label>
          <div class="col-sm-10">
            <input id="srs-name" name="srs-name" class="form-control" type="text" ng-model="layer['srs-name']" />
          </div>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading cursor-pointer" ng-click="hideDatasource = !hideDatasource">
        <span>Datasource</span>
        <i class="glyphicon" ng-class="{'glyphicon-chevron-right': hideDatasource, 'glyphicon-chevron-down': !hideDatasource}"></i>
      </div>
      <div class="panel-body form-horizontal" collapse="hideDatasource">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="type">Type</label>
          <div class="col-sm-10">
            <select id="type" name="type" class="form-control" type="text" ng-model="layer.Datasource.type">
              <option value="shape">Shape</option>
              <option value="postgis">Postgis</option>
              <option value="sqlite">SQlite</option>
              <option value="gdal">Gdal</option>
            </select>
          </div>
        </div>
        <div ng-include="datasourceTemplates[layer.Datasource.type]"></div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-default pull-left" ng-click="openRemoveModal()">Remove Layer</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  <input type="submit" class="btn btn-success" ng-click="ok()" value="Save" />
</div>
