<div class="modal-header">
  <h3 class="modal-title">Edit layer</h3>
</div>
<div class="modal-body layer-form">
  <form name="layerForm">
    <div class="panel panel-default">
      <div class="panel-heading" ng-click="hideGeneral = !hideGeneral">
        <span>General</span>
        <i class="glyphicon" ng-class="{'glyphicon-chevron-right': hideGeneral, 'glyphicon-chevron-down': !hideGeneral}"></i>
      </div>
      <div class="panel-body form-horizontal" collapse="hideGeneral">
        <div class="form-group">
          <label class="col-sm-2" for="name">Name</label>
          <input name="name" class="col-sm-10" type="text" ng-model="layer.name" />
        </div>
        <div class="form-group">
          <label class="col-sm-2" for="id">Id</label>
          <input name="id" class="col-sm-10" type="text" ng-model="layer.id" />
        </div>
        <div class="form-group">
          <label class="col-sm-2" for="class">Class</label>
          <input name="class" class="col-sm-10" type="text" ng-model="layer.class" />
        </div>

        <div class="form-group">
          <label class="col-sm-2" for="geometry">Geometry</label>
          <select name="geometry" class="col-sm-10" type="text" ng-model="layer.geometry">
            <option value="point">Point</option>
            <option value="linestring">Linestring</option>
            <option value="polygon">Polygon</option>
            <option value="raster">Raster</option>
          </select>
        </div>
        <div class="form-group">
          <label class="col-sm-2" for="type">Type</label>
          <select name="type" class="col-sm-10" type="text" ng-model="layer.Datasource.type">
            <option value="shape">Shape</option>
            <option value="postgis">Postgis</option>
            <option value="sqlite">SQlite</option>
            <option value="gdal">Gdal</option>
          </select>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading cursor-pointer" ng-click="hideExtentSRS = !hideExtentSRS">
        <span>Extent / SRS</span>
        <i class="glyphicon" ng-class="{'glyphicon-chevron-right': hideExtentSRS, 'glyphicon-chevron-down': !hideExtentSRS}"></i>
      </div>
      <div class="panel-body form-horizontal" collapse="hideExtentSRS">
        <div class="form-group">
          <label class="col-sm-2" for="extent">Extent</label>
          <input name="extent" class="col-sm-10" float ng-model="layer.extent[0]" />
          <input class="col-sm-offset-2 col-sm-10" float ng-model="layer.extent[1]" />
          <input class="col-sm-offset-2 col-sm-10" float ng-model="layer.extent[2]" />
          <input class="col-sm-offset-2 col-sm-10" float ng-model="layer.extent[3]" />
        </div>
        <div class="form-group">
          <label class="col-sm-2" for="srs">SRS</label>
          <input name="srs" class="col-sm-10" type="text" ng-model="layer.srs" />
        </div>
        <div class="form-group">
          <label class="col-sm-2" for="srs-name">SRS-Name</label>
          <input name="srs" class="col-sm-10" type="text" ng-model="layer['srs-name']" />
        </div>
      </div>
    </div>
    <div ng-include="datasourceTemplates[layer.Datasource.type]"></div>
    <div class="panel panel-default">
      <div class="panel-heading" ng-click="hideAdvanced = !hideAdvanced">
        <span>Advanced</span>
        <i class="glyphicon" ng-class="{'glyphicon-chevron-right': hideAdvanced, 'glyphicon-chevron-down': !hideAdvanced}"></i>
      </div>
      <div class="panel-body form-horizontal" collapse="hideAdvanced">
        <span ng-repeat-start="(key, value) in layer.advanced"></span>
        <div class="form-group">
          <label class="col-sm-2" for="{{ key }}">{{ key }}</label>
          <input class="col-sm-10" type="text" ng-model="layer.advanced[key]" />
        </div>
        <span ng-repeat-end></span>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-danger pull-left" ng-click="openRemoveModal()">Remove Layer</button>
  <input type="submit" class="btn btn-primary" ng-click="ok()" value="Save" />
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
